@import 'nib';
@import './lib/normalize'
@import './reset'

$amarillo = #FDCB03;
$guindo = #751717;
$gris = #EAEAEA;
$rojoSuave = #FCEAD9;

*
	box-sizing border-box
	outline none
body
	font-size 16px
	background $gris
	
@import './header'
@import './pokemon'
